body {
    /* background-color: yellow; */
    background-image: url(images/eveocean.jpg);
    background-image: url(images/ocean.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 10%;
}

div#quote_block {
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px 4px black;
    /* background-color: #fff; */
    margin: auto;
    margin-top: 5%;
    width: 30%;
    overflow: hidden;
    /* opacity: 0.5; */
}

div#quote {
    margin: 10%;
    margin-top: 15%;
    margin-bottom: 2%;
    height: 13%;
    padding: auto;
    text-align: center;
    overflow: hidden;
    /* background: yellow; */
    font-weight: bold;
    /* font-variant: small-caps; */
    font-size: 20px;
    display: grid;
}

button {
    cursor: pointer;
    /* background-color: skyblue; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 30px;
    float: right;
    font-weight: bolder;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}

@media only screen and (max-width: 500px) {
    div#quote_block {
        width: 95%;
    }
    div#quote {
        height: 20%;
        font-size: large;
    }
}